<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DepatmentClient</display-name>
  <welcome-file-list>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>/axis2-web/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Admin Servlet Web Admin</display-name>
    <servlet-name>AxisAdminServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisAdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisAdminServlet</servlet-name>
    <url-pattern>/axis2-admin/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertDeptServlet</display-name>
    <servlet-name>InsertDeptServlet</servlet-name>
    <servlet-class>com.client.InsertDeptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertDeptServlet</servlet-name>
    <url-pattern>/InsertDeptServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDeptServlet</display-name>
    <servlet-name>DeleteDeptServlet</servlet-name>
    <servlet-class>com.client.DeleteDeptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDeptServlet</servlet-name>
    <url-pattern>/DeleteDeptServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectDeptServlet</display-name>
    <servlet-name>SelectDeptServlet</servlet-name>
    <servlet-class>com.client.SelectDeptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectDeptServlet</servlet-name>
    <url-pattern>/SelectDeptServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDeptServlet</display-name>
    <servlet-name>UpdateDeptServlet</servlet-name>
    <servlet-class>com.client.UpdateDeptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDeptServlet</servlet-name>
    <url-pattern>/UpdateDeptServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAllDeptServlet</display-name>
    <servlet-name>SelectAllDeptServlet</servlet-name>
    <servlet-class>com.client.SelectAllDeptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllDeptServlet</servlet-name>
    <url-pattern>/SelectAllDeptServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthenticationServlet</display-name>
    <servlet-name>AuthenticationServlet</servlet-name>
    <servlet-class>com.techsea.AuthenticationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticationServlet</servlet-name>
    <url-pattern>/AuthenticationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectDeptNamesServlet</display-name>
    <servlet-name>SelectDeptNamesServlet</servlet-name>
    <servlet-class>com.client.SelectDeptNamesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectDeptNamesServlet</servlet-name>
    <url-pattern>/SelectDeptNamesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectByNameServlet</display-name>
    <servlet-name>SelectByNameServlet</servlet-name>
    <servlet-class>com.client.SelectByNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectByNameServlet</servlet-name>
    <url-pattern>/SelectByNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertDealServlet</display-name>
    <servlet-name>InsertDealServlet</servlet-name>
    <servlet-class>com.deal.InsertDealServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertDealServlet</servlet-name>
    <url-pattern>/InsertDealServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAllDealServlet</display-name>
    <servlet-name>SelectAllDealServlet</servlet-name>
    <servlet-class>com.deal.SelectAllDealServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllDealServlet</servlet-name>
    <url-pattern>/SelectAllDealServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDealServlet</display-name>
    <servlet-name>DeleteDealServlet</servlet-name>
    <servlet-class>com.deal.DeleteDealServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDealServlet</servlet-name>
    <url-pattern>/DeleteDealServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectDealServlet</display-name>
    <servlet-name>SelectDealServlet</servlet-name>
    <servlet-class>com.deal.SelectDealServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectDealServlet</servlet-name>
    <url-pattern>/SelectDealServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDealServlet</display-name>
    <servlet-name>UpdateDealServlet</servlet-name>
    <servlet-class>com.deal.UpdateDealServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDealServlet</servlet-name>
    <url-pattern>/UpdateDealServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductIDAndSellerID</display-name>
    <servlet-name>ProductIDAndSellerID</servlet-name>
    <servlet-class>com.deal.ProductIDAndSellerID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductIDAndSellerID</servlet-name>
    <url-pattern>/ProductIDAndSellerID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertEmpServlet</display-name>
    <servlet-name>InsertEmpServlet</servlet-name>
    <servlet-class>com.employeeclient.InsertEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertEmpServlet</servlet-name>
    <url-pattern>/InsertEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmpServlet</display-name>
    <servlet-name>DeleteEmpServlet</servlet-name>
    <servlet-class>com.employeeclient.DeleteEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmpServlet</servlet-name>
    <url-pattern>/DeleteEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAllEmpServlet</display-name>
    <servlet-name>SelectAllEmpServlet</servlet-name>
    <servlet-class>com.employeeclient.SelectAllEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllEmpServlet</servlet-name>
    <url-pattern>/SelectAllEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectEmpServlet</display-name>
    <servlet-name>SelectEmpServlet</servlet-name>
    <servlet-class>com.employeeclient.SelectEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectEmpServlet</servlet-name>
    <url-pattern>/SelectEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmpServlet</display-name>
    <servlet-name>UpdateEmpServlet</servlet-name>
    <servlet-class>com.employeeclient.UpdateEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmpServlet</servlet-name>
    <url-pattern>/UpdateEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientServlet</display-name>
    <servlet-name>ClientServlet</servlet-name>
    <servlet-class>com.products.ClientServletInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientServlet</servlet-name>
    <url-pattern>/ClientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientServletSelectAll</display-name>
    <servlet-name>ClientServletSelectAll</servlet-name>
    <servlet-class>com.products.ClientServletSelectAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientServletSelectAll</servlet-name>
    <url-pattern>/ClientServletSelectAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientServletUpdate</display-name>
    <servlet-name>ClientServletUpdate</servlet-name>
    <servlet-class>com.products.ClientServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientServletUpdate</servlet-name>
    <url-pattern>/ClientServletUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientProductSelectID</display-name>
    <servlet-name>ClientProductSelectID</servlet-name>
    <servlet-class>com.products.ClientProductSelectID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientProductSelectID</servlet-name>
    <url-pattern>/ClientProductSelectID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientServletDelete</display-name>
    <servlet-name>ClientServletDelete</servlet-name>
    <servlet-class>com.products.ClientServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientServletDelete</servlet-name>
    <url-pattern>/ClientServletDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertSellerServlet</servlet-name>
    <servlet-class>com.sellers.InsertSellerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertSellerServlet</servlet-name>
    <url-pattern>/InsertSellerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertSeller</display-name>
    <servlet-name>InsertSeller</servlet-name>
    <servlet-class>com.sellers.InsertSeller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertSeller</servlet-name>
    <url-pattern>/InsertSeller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAllSellerServlet</display-name>
    <servlet-name>SelectAllSellerServlet</servlet-name>
    <servlet-class>com.sellers.SelectAllSellerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllSellerServlet</servlet-name>
    <url-pattern>/SelectAllSellerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectSellerServlet</display-name>
    <servlet-name>SelectSellerServlet</servlet-name>
    <servlet-class>com.sellers.SelectSellerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectSellerServlet</servlet-name>
    <url-pattern>/SelectSellerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSellerServlet</display-name>
    <servlet-name>DeleteSellerServlet</servlet-name>
    <servlet-class>com.sellers.DeleteSellerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSellerServlet</servlet-name>
    <url-pattern>/DeleteSellerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSellerServlet</display-name>
    <servlet-name>UpdateSellerServlet</servlet-name>
    <servlet-class>com.sellers.UpdateSellerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSellerServlet</servlet-name>
    <url-pattern>/UpdateSellerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>InsertProductCatServlet</display-name>
    <servlet-name>InsertProductCatServlet</servlet-name>
    <servlet-class>com.prod_cat.InsertProductCatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertProductCatServlet</servlet-name>
    <url-pattern>/InsertProductCatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductCatServlet</display-name>
    <servlet-name>DeleteProductCatServlet</servlet-name>
    <servlet-class>com.prod_cat.DeleteProductCatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductCatServlet</servlet-name>
    <url-pattern>/DeleteProductCatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectServlet</display-name>
    <servlet-name>SelectServlet</servlet-name>
    <servlet-class>com.prod_cat.SelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectServlet</servlet-name>
    <url-pattern>/SelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAllServlet</display-name>
    <servlet-name>SelectAllServlet</servlet-name>
    <servlet-class>com.prod_cat.SelectAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllServlet</servlet-name>
    <url-pattern>/SelectAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.prod_cat.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertCouponServlet</display-name>
    <servlet-name>InsertCouponServlet</servlet-name>
    <servlet-class>com.coupon.InsertCouponServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCouponServlet</servlet-name>
    <url-pattern>/InsertCouponServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAllCouponServlet</display-name>
    <servlet-name>SelectAllCouponServlet</servlet-name>
    <servlet-class>com.coupon.SelectAllCouponServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllCouponServlet</servlet-name>
    <url-pattern>/SelectAllCouponServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectCouponServlet</display-name>
    <servlet-name>SelectCouponServlet</servlet-name>
    <servlet-class>com.coupon.SelectCouponServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectCouponServlet</servlet-name>
    <url-pattern>/SelectCouponServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCouponServlet</display-name>
    <servlet-name>UpdateCouponServlet</servlet-name>
    <servlet-class>com.coupon.UpdateCouponServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCouponServlet</servlet-name>
    <url-pattern>/UpdateCouponServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCouponServlet</display-name>
    <servlet-name>DeleteCouponServlet</servlet-name>
    <servlet-class>com.coupon.DeleteCouponServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCouponServlet</servlet-name>
    <url-pattern>/DeleteCouponServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertCustomerServlet</display-name>
    <servlet-name>InsertCustomerServlet</servlet-name>
    <servlet-class>com.customerclient.InsertCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCustomerServlet</servlet-name>
    <url-pattern>/InsertCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomerServlet</display-name>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <servlet-class>com.customerclient.DeleteCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <url-pattern>/DeleteCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCustomerServlet</display-name>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <servlet-class>com.customerclient.UpdateCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <url-pattern>/UpdateCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectCustomerServlet</display-name>
    <servlet-name>SelectCustomerServlet</servlet-name>
    <servlet-class>com.customerclient.SelectCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectCustomerServlet</servlet-name>
    <url-pattern>/SelectCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAllCustomerServlet</display-name>
    <servlet-name>SelectAllCustomerServlet</servlet-name>
    <servlet-class>com.customerclient.SelectAllCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllCustomerServlet</servlet-name>
    <url-pattern>/SelectAllCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoOfProductParenIDServlet</display-name>
    <servlet-name>NoOfProductParenIDServlet</servlet-name>
    <servlet-class>com.prod_cat.NoOfProductParenIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoOfProductParenIDServlet</servlet-name>
    <url-pattern>/NoOfProductParenIDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductCatIDServlet</display-name>
    <servlet-name>ProductCatIDServlet</servlet-name>
    <servlet-class>com.products.ProductCatIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductCatIDServlet</servlet-name>
    <url-pattern>/ProductCatIDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductCatStaticServlet</display-name>
    <servlet-name>ProductCatStaticServlet</servlet-name>
    <servlet-class>com.products.ProductCatStaticServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductCatStaticServlet</servlet-name>
    <url-pattern>/ProductCatStaticServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductCatIDProductIDSevlet</display-name>
    <servlet-name>ProductCatIDProductIDSevlet</servlet-name>
    <servlet-class>com.areasearch.ProductCatIDProductIDSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductCatIDProductIDSevlet</servlet-name>
    <url-pattern>/ProductCatIDProductIDSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AreaSearchServlet</display-name>
    <servlet-name>AreaSearchServlet</servlet-name>
    <servlet-class>com.areasearch.AreaSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AreaSearchServlet</servlet-name>
    <url-pattern>/AreaSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertProductSellerServlet</display-name>
    <servlet-name>InsertProductSellerServlet</servlet-name>
    <servlet-class>com.sellerproducts.InsertProductSellerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertProductSellerServlet</servlet-name>
    <url-pattern>/InsertProductSellerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductSellerServlet</display-name>
    <servlet-name>DeleteProductSellerServlet</servlet-name>
    <servlet-class>com.sellerproducts.DeleteProductSellerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductSellerServlet</servlet-name>
    <url-pattern>/DeleteProductSellerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchSellerProductServlet</display-name>
    <servlet-name>SearchSellerProductServlet</servlet-name>
    <servlet-class>com.sellerproducts.SearchSellerProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchSellerProductServlet</servlet-name>
    <url-pattern>/SearchSellerProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductSellerServlet</display-name>
    <servlet-name>UpdateProductSellerServlet</servlet-name>
    <servlet-class>com.sellerproducts.UpdateProductSellerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductSellerServlet</servlet-name>
    <url-pattern>/UpdateProductSellerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAllProductSellerServlet</display-name>
    <servlet-name>SelectAllProductSellerServlet</servlet-name>
    <servlet-class>com.sellerproducts.SelectAllProductSellerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllProductSellerServlet</servlet-name>
    <url-pattern>/SelectAllProductSellerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductID</display-name>
    <servlet-name>ProductID</servlet-name>
    <servlet-class>com.sellerproducts.ProductID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductID</servlet-name>
    <url-pattern>/ProductID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellerID</display-name>
    <servlet-name>SellerID</servlet-name>
    <servlet-class>com.sellerproducts.SellerID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellerID</servlet-name>
    <url-pattern>/SellerID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSellerServlet</display-name>
    <servlet-name>ShowSellerServlet</servlet-name>
    <servlet-class>com.sellerproducts.ShowSellerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSellerServlet</servlet-name>
    <url-pattern>/ShowSellerServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>ShowProductServlet</display-name>
    <servlet-name>ShowProductServlet</servlet-name>
    <servlet-class>com.sellerproducts.ShowProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProductServlet</servlet-name>
    <url-pattern>/ShowProductServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>AreaSearchByWord</display-name>
    <servlet-name>AreaSearchByWord</servlet-name>
    <servlet-class>com.areasearch.AreaSearchByWord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AreaSearchByWord</servlet-name>
    <url-pattern>/AreaSearchByWord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertCustomerCallServlet</display-name>
    <servlet-name>InsertCustomerCallServlet</servlet-name>
    <servlet-class>com.customercall.InsertCustomerCallServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCustomerCallServlet</servlet-name>
    <url-pattern>/InsertCustomerCallServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RelatedProductsServlet</display-name>
    <servlet-name>RelatedProductsServlet</servlet-name>
    <servlet-class>com.areasearch.RelatedProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelatedProductsServlet</servlet-name>
    <url-pattern>/RelatedProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductSearchByWord</display-name>
    <servlet-name>ProductSearchByWord</servlet-name>
    <servlet-class>com.products.ProductSearchByWord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductSearchByWord</servlet-name>
    <url-pattern>/ProductSearchByWord</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>CustomerPaymentMethodInsert</servlet-name>
    <servlet-class>com.customerpayments.InsertCustomerPaymentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerPaymentMethodInsert</servlet-name>
    <url-pattern>/insertCustomerPaymentMethod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAllCustomerPayment</display-name>
    <servlet-name>SelectAllCustomerPayment</servlet-name>
    <servlet-class>com.customerpayments.SelectAllCustomerPayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllCustomerPayment</servlet-name>
    <url-pattern>/SelectAllCustomerPayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectCustomerPaymentServlet</display-name>
    <servlet-name>SelectCustomerPaymentServlet</servlet-name>
    <servlet-class>com.customerpayments.SelectCustomerPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectCustomerPaymentServlet</servlet-name>
    <url-pattern>/SelectCustomerPaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCustomerPaymentMethod</servlet-name>
    <servlet-class>com.customerpayments.UpdateCustomerPaymentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerPaymentMethod</servlet-name>
    <url-pattern>/UpdateCustomerPaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    
    
    <servlet-name>DeleteCustomerPaymentMethodServlet</servlet-name>
    <servlet-class>com.customerpayments.DeleteCustomerPaymentMethodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerPaymentMethodServlet</servlet-name>
    <url-pattern>/DeleteCustomerPaymentMethodServlet</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>SelectAllOrderItems</display-name>
    <servlet-name>SelectAllOrderItems</servlet-name>
    <servlet-class>com.orderitems.SelectAllOrderItems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllOrderItems</servlet-name>
    <url-pattern>/SelectAllOrderItems</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOrderItems</display-name>
    <servlet-name>DeleteOrderItems</servlet-name>
    <servlet-class>com.orderitems.DeleteOrderItems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrderItems</servlet-name>
    <url-pattern>/DeleteOrderItems</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertOrderItems</display-name>
    <servlet-name>InsertOrderItems</servlet-name>
    <servlet-class>com.orderitems.InsertOrderItems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertOrderItems</servlet-name>
    <url-pattern>/InsertOrderItems</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectOrderItemsById</display-name>
    <servlet-name>SelectOrderItemsById</servlet-name>
    <servlet-class>com.orderitems.SelectOrderItemsById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectOrderItemsById</servlet-name>
    <url-pattern>/SelectOrderItemsById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateOrderItems</display-name>
    <servlet-name>UpdateOrderItems</servlet-name>
    <servlet-class>com.orderitems.UpdateOrderItems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrderItems</servlet-name>
    <url-pattern>/UpdateOrderItems</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>InsertServlet</display-name>
    <servlet-name>InsertServlet</servlet-name>
    <servlet-class>com.invoices.InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertServlet</servlet-name>
    <url-pattern>/InvoicesInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvoiceUpdateServlet</display-name>
    <servlet-name>InvoiceUpdateServlet</servlet-name>
    <servlet-class>com.invoices.InvoiceUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvoiceUpdateServlet</servlet-name>
    <url-pattern>/InvoiceUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvoiceSelectAllServlet</display-name>
    <servlet-name>InvoiceSelectAllServlet</servlet-name>
    <servlet-class>com.invoices.InvoiceSelectAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvoiceSelectAllServlet</servlet-name>
    <url-pattern>/InvoiceSelectAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvoicesDeleteServlet</display-name>
    <servlet-name>InvoicesDeleteServlet</servlet-name>
    <servlet-class>com.invoices.InvoicesDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvoicesDeleteServlet</servlet-name>
    <url-pattern>/InvoicesDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvoiceSelectByIDServlet</display-name>
    <servlet-name>InvoiceSelectByIDServlet</servlet-name>
    <servlet-class>com.customerclient.InvoiceSelectByIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvoiceSelectByIDServlet</servlet-name>
    <url-pattern>/InvoiceSelectByIDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvoiceSelectByIdServlet</display-name>
    <servlet-name>InvoiceSelectByIdServlet</servlet-name>
    <servlet-class>com.invoices.InvoiceSelectByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvoiceSelectByIdServlet</servlet-name>
    <url-pattern>/InvoiceSelectByIdServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>InsertShipment</display-name>
    <servlet-name>InsertShipment</servlet-name>
    <servlet-class>com.shipments.InsertShipment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertShipment</servlet-name>
    <url-pattern>/InsertShipment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAllShipment</display-name>
    <servlet-name>SelectAllShipment</servlet-name>
    <servlet-class>com.shipments.SelectAllShipment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllShipment</servlet-name>
    <url-pattern>/SelectAllShipment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectByIdShipments</display-name>
    <servlet-name>SelectByIdShipments</servlet-name>
    <servlet-class>com.shipments.SelectByIdShipments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectByIdShipments</servlet-name>
    <url-pattern>/SelectByIdShipments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateShipment</display-name>
    <servlet-name>UpdateShipment</servlet-name>
    <servlet-class>com.shipments.UpdateShipment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateShipment</servlet-name>
    <url-pattern>/UpdateShipment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteShipmentRecords</display-name>
    <servlet-name>DeleteShipmentRecords</servlet-name>
    <servlet-class>com.shipments.DeleteShipmentRecords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteShipmentRecords</servlet-name>
    <url-pattern>/DeleteShipmentRecords</url-pattern>
  </servlet-mapping>
  
  
     <servlet>
  		<servlet-name>InsertOrder</servlet-name>
  		<servlet-class>com.orders.InsertOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>InsertOrder</servlet-name>
  		<url-pattern>/insertOrder</url-pattern>
  </servlet-mapping>
  <servlet>
  		<servlet-name>UpdateOrder</servlet-name>
  		<servlet-class>com.orders.UpdateOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  			<servlet-name>UpdateOrder</servlet-name>
  			<url-pattern>/UpdateOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  		<servlet-name>SelectAllOrder</servlet-name>
  		<servlet-class>com.orders.SelectAllOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  			<servlet-name>SelectAllOrder</servlet-name>
  			<url-pattern>/SelectAllOrder</url-pattern>
  </servlet-mapping>
  <servlet>
  		<servlet-name>DeleteOrderServlet</servlet-name>
  		<servlet-class>com.orders.DeleteOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>DeleteOrderServlet</servlet-name>
  		<url-pattern>/DeleteOrder</url-pattern>
  </servlet-mapping>
  <servlet>
  		<servlet-name>selectbyidorder</servlet-name>
  		<servlet-class>com.orders.SelectByIdOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>selectbyidorder</servlet-name>
  		<url-pattern>/SelectByIdOrder</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>PaymentInsert</display-name>
    <servlet-name>PaymentInsert</servlet-name>
    <servlet-class>com.payments.InsertPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentInsert</servlet-name>
    <url-pattern>/PaymentInsert</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>PaymentDelete</display-name>
    <servlet-name>Paymentdelete</servlet-name>
    <servlet-class>com.payments.DeletePaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Paymentdelete</servlet-name>
    <url-pattern>/PaymentDelete</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>Paymentselectall</display-name>
    <servlet-name>Paymentselect</servlet-name>
    <servlet-class>com.payments.SelectAllPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Paymentselect</servlet-name>
    <url-pattern>/PaymentSelect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Paymentselectid</display-name>
    <servlet-name>PaymentselectId</servlet-name>
    <servlet-class>com.payments.SelectPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentselectId</servlet-name>
    <url-pattern>/PaymentSelectId</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>PaymentUpdate</display-name>
    <servlet-name>PaymentUpdate</servlet-name>
    <servlet-class>com.payments.UpdatePaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentUpdate</servlet-name>
    <url-pattern>/PaymentUpdate</url-pattern>
  </servlet-mapping>
  
</web-app>